.main {
  padding-top: 60px;
}

.menuContainer {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 12px;
}

.categoriesMenuForm {
  max-width: 160px;
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(70px, 1fr) );
}

.categoriesMenuLabel{
  margin-bottom: 8px;
}

.categoriesMenuInstance {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

.sortingSelect {
  background-color: white;
  font: inherit;
  padding: 4px 6px;
  font-size: 14px;
}